<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NotebookProj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA6DCAE21FAA78DC0059998E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA6DCAF91FAA78DC0059998E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA6DCB041FAA78DC0059998E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
